{% extends 'core/base.html' %}
<!--  -->
{% block content %}
<!--  -->
<h1 class="text-3xl">ABOUT ProjectIO</h1>
<div class="space-y-6 mt-6">
  <p class="">
    Lorem FIRST ipsum dolor sit, amet consectetur adipisicing elit. Iure
    voluptas fuga sunt natus? Architecto impedit natus deleniti, delectus
    voluptatibus voluptate et vitae quos velit placeat non vero distinctio
    officia quibusdam?
  </p>
  <p class="">
    Lorem SECOND ipsum dolor sit, amet consectetur adipisicing elit. Iure
    voluptas fuga sunt natus? Architecto impedit natus deleniti, delectus
    voluptatibus voluptate et vitae quos velit placeat non vero distinctio
    officia quibusdam?
  </p>
</div>

<!--  -->
{% endblock %}
