{% extends 'core/base.html'%}
<!--  -->
{% block content %}
<!--  -->
<h1 class="mb-6 text-3xl">{{project.name}}:</h1>

{% if project.description %}
<p class="mb-6">{{project.description}}</p>
{% endif %}

<a
  href="{% url 'todolist:add' project.id %}"
  class="py-4 px-8 text-white bg-emerald-600 inline-block"
  >Add todolist</a
>
<a
  href="{% url 'project:upload_file' project.id %}"
  class="py-4 px-8 text-white bg-slate-600 inline-block"
  >Upload File</a
>
<a
  href="{% url 'project:edit' project.id %}"
  class="py-4 px-8 bg-sky-600 text-white inline-block"
  >Edit</a
>
<a
  href="{% url 'project:delete' project.id %}"
  class="py-4 px-8 bg-red-500 text-white inline-block"
  >Delete</a
>
<h3 class="mb-6 mt-5 text-2xl">TodoLists:</h3>
<!-- List of projects -->
<div class="mt-6 grid grid-cols-4 gap-4">
  <!-- Project Window -->
  {% for todolist in project.todolists.all %}
  <div class="py-6 px-6 bg-slate-200">
    <a href="{% url 'todolist:todolist' project.id todolist.id %}">
      <h3 class="mb-4 text-xl">{{todolist.name}}</h3>
      <p class="text-sm text-slate-600">{{todolist.description}}</p>
    </a>
  </div>
  <!-- Project window END-->
  {% endfor %}
</div>
<h3 class="mb-6 mt-5 text-2xl">Files:</h3>
<div class="mt-6 grid grid-cols-4 gap-4">
  {% for projectfile in project.files.all %}
  <!--  -->
  <div class="py-6 px-6 bg-slate-200">
    <h3 class="mb-4 text-xl">{{projectfile.name}}</h3>
    <a
      href="{% projectfile.attachment.url %}"
      target="_blank"
      class="text-sm text-slate-600"
      >Download file</a
    >
  </div>
  <!--  -->
  {% endfor %}
</div>
<!--  -->
{% endblock %}
