<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="py-6 px-8 flex items-center justify-between bg-slate-600">
      <h1 class="text-xl text-white">ProjectIO</h1>
      <div class="space-x-4">
        <a href="#" class="text-white">About</a>
        <a href="#" class="py-4 px-8 bg-slate-500 text-white">LogIn</a>
        <a href="#" class="py-4 px-8 bg-sky-500 text-white">SignUp</a>
      </div>
    </nav>
    <!-- NavBar end -->
    <!-- Main -->
    <main class="py-6 px-8">
      <h1 class="text-3xl">ABOUT ProjectIO</h1>
      <div class="space-y-6 mt-6">
        <p class="">
          Lorem FIRST ipsum dolor sit, amet consectetur adipisicing elit. Iure
          voluptas fuga sunt natus? Architecto impedit natus deleniti, delectus
          voluptatibus voluptate et vitae quos velit placeat non vero distinctio
          officia quibusdam?
        </p>
        <p class="">
          Lorem SECOND ipsum dolor sit, amet consectetur adipisicing elit. Iure
          voluptas fuga sunt natus? Architecto impedit natus deleniti, delectus
          voluptatibus voluptate et vitae quos velit placeat non vero distinctio
          officia quibusdam?
        </p>
      </div>
    </main>
    <!-- Main end-->

    <!-- Footer -->
    <footer class="py-8 px-8 bg-slate-700">
      <p class="text-white">Copyright (c) 2024 - Timmy&Co</p>
    </footer>
  </body>
</html>
